<app-navigation></app-navigation>
<div class="about-main">
  <div class="about-sub">
    <div><label>About Us</label></div>
    <div>
      <p>
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alterationin some form, by injected humour, or
        randomised words which don't look even slightly believable. If youare
        going to use a passage of Lorem Ipsum, you need to be sure there isn't
        anything embarrassing hidden inthe
      </p>
    </div>
  </div>
  <div class="about-sub2">
    <img src="assets/photos/medium-shot-man-wearing-vr-glasses.jpg" />
  </div>
</div>
<app-contact></app-contact>
