<app-navigation></app-navigation>
<div class="service-main">
    <div class="service-head">
        <label class="lbl-service-main">Our Service</label><br>
        <label class="lbl-service-sub" >consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
    </div>
    <div class="service-sub">
     <div class="service-sub-1">
        <div><img src="assets/photos/1.jpg"></div>
        <div><label>Link Building</label></div>
        <div><article>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</article></div>
     </div>
     <div class="service-sub-1">
        <div><img src="assets/photos/2.jpg"></div>
        <div><label>On page SEO</label></div>
        <div><article>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</article></div>
     </div>
     <div class="service-sub-1">
        <div><img src="assets/photos/3.jpg"></div>
        <div><label>Online Marketing</label></div>
        <div><article>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</article></div>
     </div>
     <div class="service-sub-1">
        <div><img src="assets/photos/4.jpg"></div>
        <div><label>Email Marketing</label></div>
        <div><article>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</article></div>
     </div>
    </div>
</div>
<app-contact></app-contact>



